Repository Minot-Prod/UA, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, qa, docs, ci

Add files via upload
  README_Workflows.md
Labels: none

Add files via upload (#195)
  README_Workflows.md
Labels: none

Add GitHub Actions workflow for DeepResearch Bundle
  .github/workflows/deploy_deepresearch_bundle.yml
Labels: ci

Add UA E2E workflow for stable push
  .github/workflows/ua-e2e.yml
Labels: ci

Refactor UA E2E workflow for clarity and checks
  .github/workflows/ua-e2e.yml
Labels: ci

Add UA Agent Bridge GitHub Actions workflow
  .github/workflows/ua_agent_bridge.yml
Labels: ci

Add PING.json with queued ping configuration
  PING.json
Labels: none

Add DEMO.json with queued demo configuration
  DEMO.json
Labels: none

Create replay.sh
  replay.sh
Labels: none

Add initial CREDIT_LOG.md for T-0 HTTPS Playbook
  CREDIT_LOG.md
Labels: none

Add files via upload
  ua_restore_payload.json
Labels: none

Add files via upload
  ua_restore_payload (1).json
Labels: none

Update ua_agent_bridge.yml
  .github/workflows/ua_agent_bridge.yml
Labels: ci

Knowledge: UA + Parlios — Consolidated Pack
  knowledge/Parlios_Knowledge_Consolidated_Report.md
  knowledge/knowledge_index.json
Labels: none

CI: Knowledge Check workflow (validate knowledge_index.json)
  .github/workflows/knowledge_check.yml
Labels: ci

Fix escaping issues in ua_agent_bridge.yml
  .github/workflows/ua_agent_bridge.yml
Labels: ci

Refactor QA Web workflow with path filters and steps
  .github/workflows/qa_web.yml
Labels: ci

Create Netlify function to serve knowledge data
  netlify/functions/knowledge/knowledge.js
Labels: none

Add Netlify configuration for build and functions
  netlify.toml
Labels: none

Refactor GitHub Actions workflow for UA agent bridge
  .github/workflows/ua_agent_bridge.yml
Labels: ci

docs(knowledge): add Knowledge Pack index (DeepMemory)
  .github/PULL_REQUEST_TEMPLATE/deepmemory_gold.md
  bundles/gold-prompts/README.md
  bundles/gold-prompts/docs/.keep
  bundles/gold-prompts/prompts_gold_index.json
  bundles/gold-prompts/samples/.keep
  bundles/gold-prompts/weekly/.keep
  bundles/gold-prompts/workflows/.keep
  knowledge/README.md
Labels: none

feat: add Council of Sages QA framework (Knowledge Policy, Shadow Playbook, CI Postflight, Auto-Eval)
  .github/workflows/ci-postflight.yml
  .github/workflows/ua-e2e.yml
  RELEASE_NOTES.md
  docs/KnowledgePolicy.md
  docs/ShadowPlaybook.md
  scripts/auto_eval.py
Labels: docs, ci

docs: add Council Memory Pack and Optimization Plan
  GITHUB_MEMORY_PACK.md
  OPTIMIZATION_PLAN.md
Labels: none

chore(all-apps): import full sprint bundle (S1–S3) + release workflow + static noteschore(all-apps): import full sprint bundle (S1–S3) + release workflow + static notes
  .github/workflows/ua-e2e.yml
Labels: ci

Add master doc: realisation des 80 agents (prod blueprint)
  docs/80_agents/doc_realisation_80_agents.md
Labels: docs

Add README for 80 agents docs
  docs/80_agents/README.md
Labels: docs

Add manifest.yaml for 80 agents playbook
  docs/80_agents/manifest.yaml
Labels: docs

Add updated AGENTS_CATALOG.md with consolidated agents list
  deliverables/agents/AGENTS_CATALOG.md
Labels: none

docs: add repo charter
  docs/repo-charter.md
Labels: docs

docs: add ADR-001 ui-core
  docs/adr/ADR-001-ui-core.md
Labels: docs

chore: add CODEOWNERS
  .github/CODEOWNERS
Labels: none

ci: add reusable quality gate web workflow skeleton
  .github/workflows/quality-gate-web.yml
Labels: ci

ci: add reusable build-test workflow skeleton
  .github/workflows/build-test.yml
Labels: ci

ci: add reusable release workflow skeleton
  .github/workflows/release.yml
Labels: ci

ci: add reusable security codeql workflow skeleton
  .github/workflows/security-codeql.yml
Labels: ci

Add UA Orchestrator Sync workflow
  .github/workflows/orchestrator-sync.yml
Labels: ci

Add UA AutoMerge workflow
  .github/workflows/ua-automerge.yml
Labels: ci

Add UA report generation workflow
  .github/workflows/ua-report.yml
Labels: ci

Update UA agent reports [automated]
  .ua/reports/agents_index.yaml
  .ua/reports/agents_status.md
Labels: none

Create AGENT_AUTHORITY_MANIFEST.yml
  AGENT_AUTHORITY_MANIFEST.yml
Labels: none

.github/labeler.yml:

frontend:
  - "src/**/*"
  - "app/**/*"
qa:
  - "qa/**/*"
docs:
  - "docs/**/*"
ci:
  - ".github/workflows/**/*"
